/.idea/
/src/main/resources/webapp/
/target/
/application.properties
node/
/src/main/azure/logevents.properties
/src/main/azure/application.properties
/dependency-reduced-pom.xml
/pgr209-exam-2022.iml
